mat-list-item{
    transition: all 0.5s;
}

mat-list-item:hover{
    background-color: rgb(114, 114, 114);
}

.back{
    background-color:  rgb(170, 41, 41);
}

.back:hover{
    background-color:  rgb(102, 12, 12);
}