<!-- <div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="../../../../../assets/audi-a4.png" width="600" height="150" class="card-img-top" alt="...">
            <div class="card-body">
                <h1 class="card-title">Audi A4</h1>
                <h4>Fiyat (Günlük Kira): 75,000</h4>
                <h4>Stok : 20</h4>
                <a href="#" class="btn btn-primary">Sepete Ekle</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="../../../../../assets/mercedes-benz.png" width="600" height="150" class="card-img-top" alt="...">
            <div class="card-body">
                <h1 class="card-title">Mercedes-Benz</h1>
                <h4>Fiyat (Günlük Kira) : 80,000</h4>
                <h4>Stok : 10</h4>
                <a href="#" class="btn btn-primary">Sepete Ekle</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../../../assets/tesla-y.png" width="600" height="150" class="card-img-top" alt="...">
            <div class="card-body">
                <h1 class="card-title">Tesla Model Y</h1>
                <h4>Fiyat (Günlük Kira) : 100,000</h4>
                <h4>Stok : 5</h4>
                <a href="#" class="btn btn-primary">Sepete Ekle</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../../../assets/fiat-egea.png" width="600" height="150" class="card-img-top" alt="...">
            <div class="card-body">
                <h1 class="card-title">Fiat Egea</h1>
                <h4>Fiyat (Günlük Kira) : 35,000</h4>
                <h4>Stok : 30</h4>
                <a href="#" class="btn btn-primary">Sepete Ekle</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../../../assets/bmw-m4.png" width="600" height="150" class="card-img-top" alt="...">
            <div class="card-body">
                <h1 class="card-title">Bmw M4</h1>
                <h4>Fiyat (Günlük Kira) : 75,000</h4>
                <h4>Stok : 15</h4>
                <a href="#" class="btn btn-primary">Sepete Ekle</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../../../assets/peugeot-508.png" width="600" height="150" class="card-img-top" alt="...">
            <div class="card-body">
                <h1 class="card-title">Peugeot 508</h1>
                <h4>Fiyat (Günlük Kira) : 40,000</h4>
                <h4>Stok : 12</h4>
                <a href="#" class="btn btn-primary">Sepete Ekle</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../../../assets/ferrari-f8.png" width="600" height="150" class="card-img-top" alt="...">
            <div class="card-body">
                <h1 class="card-title">Ferrari F8</h1>
                <h4>Fiyat (Günlük Kira) : 120,000</h4>
                <h4>Stok : 3</h4>
                <a href="#" class="btn btn-primary">Sepete Ekle</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../../../assets/honda-accord.png" width="600" height="150" class="card-img-top" alt="...">
            <div class="card-body">
                <h1 class="card-title">Honda Accord</h1>
                <h4>Fiyat (Günlük Kira) : 70,000</h4>
                <h4>Stok : 3</h4>
                <a href="#" class="btn btn-primary">Sepete Ekle</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../../../assets/nissan-altima.png" width="600" height="150" class="card-img-top" alt="...">
            <div class="card-body">
                <h1 class="card-title">Nissan Altima</h1>
                <h4>Fiyat (Günlük Kira) : 60,000</h4>
                <h4>Stok : 3</h4>
                <a href="#" class="btn btn-primary">Sepete Ekle</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../../../assets/toyota-avalon.png" width="600" height="150" class="card-img-top" alt="...">
            <div class="card-body">
                <h1 class="card-title">Toyota Avalon</h1>
                <h4>Fiyat (Günlük Kira) : 90,000</h4>
                <h4>Stok : 3</h4>
                <a href="#" class="btn btn-primary">Sepete Ekle</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../../../assets/lamborghini-aventador.png" width="600" height="150" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h1 class="card-title">Lamborghini Aventador</h1>
                <h4>Fiyat (Günlük Kira) : 120,000</h4>
                <h4>Stok : 3</h4>
                <a href="#" class="btn btn-primary">Sepete Ekle</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../../../assets/ford-bronco.png" width="600" height="150" class="card-img-top" alt="...">
            <div class="card-body">
                <h1 class="card-title">Ford Bronco</h1>
                <h4>Fiyat (Günlük Kira) : 30,000</h4>
                <h4>Stok : 3</h4>
                <a href="#" class="btn btn-primary">Sepete Ekle</a>
            </div>
        </div>
    </div>
</div> -->